<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
</head>
<body>
<div  style="width: 50%;">
    <!--action:请求地址-->
    <form action="/user/login">
        <fieldset>
            <legend>登录</legend>
            <label>
                用户名:<input type="text" name="name"/><br>
                密码:<input type="password"  name="password"/><br>
                <input type="submit" value="登入"/>
                <input type="button" onclick='location.href=("registerHTML")' value="注册">
            </label><br>
        </fieldset>
    </form>
</div>
</body>
</html>